[submodule "Libraries/M5GFX"]
	path = Libraries/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "Libraries/M5Unified"]
	path = Libraries/M5Unified
	url = https://github.com/m5stack/M5Unified.git
[submodule "Libraries/FreeRTOS-Kernel"]
	path = Libraries/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "Libraries/mbedtls"]
	path = Libraries/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "Libraries/lvgl"]
	path = Libraries/lvgl
	url = https://github.com/lvgl/lvgl.git
