[submodule "libs/M5GFX"]
	path = libs/M5GFX
	url = https://github.com/KenVanHoeylandt/M5GFX.git
	branch = develop
[submodule "libs/M5Unified"]
	path = libs/M5Unified
	url = https://github.com/m5stack/M5Unified.git
	branch = V10.5.1
[submodule "libs/FreeRTOS-Kernel"]
	path = libs/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = V10.5.1
[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
