# This is just used as a reference/reminder

CONFIG_STACK_CHECK_STRONG=y

CONFIG_LV_USE_SYSMON=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_LV_USE_PERF_MONITOR=y

CONFIG_LV_USE_REFR_DEBUG=y
CONFIG_LV_USE_LAYER_DEBUG=y

CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
