/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>

/**
 * For future reference:
 *  - ES8311 on I2C with PA PIN at GPIO 11
 *  - Built-in led at GPIO 26
 *  - Boot button at GPIO 21
 *  - LCD reset: GPIO 27
 *  - LCD backlight: GPIO 23
 */
/ {
	compatible = "root";
	model = "Guition JC1060P470C-I-W-Y";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <57>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 7 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 8 GPIO_FLAG_NONE>;
	};

	i2s0 {
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <&gpio0 12 GPIO_FLAG_NONE>;
		pin-ws = <&gpio0 10 GPIO_FLAG_NONE>;
		pin-data-out = <&gpio0 9 GPIO_FLAG_NONE>;
		pin-data-in = <&gpio0 48 GPIO_FLAG_NONE>;
		pin-mclk = <&gpio0 13 GPIO_FLAG_NONE>;
	};
};
