/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>
#include <tactility/bindings/esp32_spi.h>
#include <tactility/bindings/esp32_uart.h>
#include <bindings/bmi270.h>
#include <bindings/bm8563.h>

// Reference: https://docs.m5stack.com/en/core/CoreS3
/ {
	compatible = "root";
	model = "M5Stack CoreS3";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 12 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 11 GPIO_FLAG_NONE>;

		bmi270 {
			compatible = "bosch,bmi270";
			reg = <0x69>;
		};

		bm8563 {
			compatible = "belling,bm8563";
			reg = <0x51>;
		};
	};

	i2c_port_a {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 2 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 1 GPIO_FLAG_NONE>;
	};

	i2c_port_b {
		compatible = "espressif,esp32-i2c";
		status = "disabled";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 9 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 8 GPIO_FLAG_NONE>;
	};

	i2c_port_c {
		compatible = "espressif,esp32-i2c";
		status = "disabled";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 18 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 17 GPIO_FLAG_NONE>;
	};

	spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <&gpio0 37 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 35 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 36 GPIO_FLAG_NONE>;
	};

	// TODO: Enable speaker via ES7210 I2C: https://github.com/m5stack/M5Unified/blob/a6256725481f1bc366655fa48cf03b6095e30ad1/src/M5Unified.cpp#L417
	// TODO: Enable microphone via ES7210 I2C: https://github.com/m5stack/M5Unified/blob/a6256725481f1bc366655fa48cf03b6095e30ad1/src/M5Unified.cpp#L616
	i2s0 {
		// Note: M5Unified sets the following for speaker: magnification = 2, oversampling = 1
		// Note: M5Unified sets the following for microphone: magnification = 4
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <&gpio0 34 GPIO_FLAG_NONE>;
		pin-ws = <&gpio0 33 GPIO_FLAG_NONE>;
		pin-data-out = <&gpio0 13 GPIO_FLAG_NONE>;
		pin-data-in = <&gpio0 14 GPIO_FLAG_NONE>;
		pin-mclk = <&gpio0 0 GPIO_FLAG_NONE>;
	};

	uart_port_a: uart1 {
		compatible = "espressif,esp32-uart";
		status = "disabled";
		port = <UART_NUM_1>;
		pin-tx = <&gpio0 1 GPIO_FLAG_NONE>;
		pin-rx = <&gpio0 2 GPIO_FLAG_NONE>;
	};
};
