/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_spi.h>
#include <bindings/bmi270.h>
#include <bindings/bm8563.h>

/ {
	compatible = "root";
	model = "M5Stack PaperS3";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 41 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 42 GPIO_FLAG_NONE>;

		bmi270 {
			compatible = "bosch,bmi270";
			reg = <0x68>;
		};

		bm8563 {
			compatible = "belling,bm8563";
			reg = <0x51>;
		};
	};

	spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <&gpio0 38 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 40 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 39 GPIO_FLAG_NONE>;
		max-transfer-size = <4096>;
	};
};
