/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_spi.h>
#include <bindings/qmi8658.h>

// Reference: https://www.waveshare.com/wiki/ESP32-S3-Touch-LCD-1.28
/ {
	compatible = "root";
	model = "Waveshare S3 Touch LCD 1.28";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c0 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 6 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 7 GPIO_FLAG_NONE>;

		qmi8658 {
			compatible = "qst,qmi8658";
			reg = <0x6B>;
		};
	};

	display_spi: spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <&gpio0 11 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 12 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 10 GPIO_FLAG_NONE>;
	};

	sdcard_spi: spi1 {
		compatible = "espressif,esp32-spi";
		host = <SPI3_HOST>;
		pin-mosi = <&gpio0 16 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 15 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 17 GPIO_FLAG_NONE>;
	};
};
