# Kconfig file for Tactility example app
menu "Tactility App"
    config TT_BOARD_NAME
        string "Board Name"
        default ""
    config TT_BOARD_ID
        string "Board ID"
        default ""
    choice
        prompt "Board"
        default TT_BOARD_CUSTOM
        config TT_BOARD_CUSTOM
            bool "Custom"
        config TT_BOARD_CYD_2432S024C
            bool "CYD 2432S024C"
        config TT_BOARD_LILYGO_TDECK
            bool "LilyGo T-Deck"
        config TT_BOARD_M5STACK_CORE2
            bool "M5Stack Core2"
        config TT_BOARD_M5STACK_CORES3
            bool "M5Stack CoreS3"
        config TT_BOARD_UNPHONE
            bool "unPhone"
        help
            Select a board/hardware configuration.
            Use TT_BOARD_CUSTOM if you will manually configure the board in your project.
    endchoice

    config TT_SPLASH_DURATION
        int "Splash Duration (ms)"
        default 1500
        range 0 3000
        help
            The minimum time to show the splash screen in milliseconds.
            When set to 0, startup will continue to desktop as soon as boot operations are finished.
endmenu
