# Kconfig file for Tactility example app
menu "Tactility App"
    choice
        prompt "Board"
        default TT_BOARD_CUSTOM

        config TT_BOARD_CUSTOM
            bool "Custom"
        config TT_BOARD_YELLOW_BOARD_24_CAP
            bool "Yellow Board (2.4\" capacitive)"
        config TT_BOARD_LILYGO_TDECK
            bool "LilyGo T-Deck"
    endchoice
endmenu
