# Kconfig file for Tactility example app
menu "Tactility App"
    choice
        prompt "Board"
        default TT_BOARD_CUSTOM

        config TT_BOARD_CUSTOM
            bool "Custom"
        config TT_BOARD_YELLOW_BOARD_24_CAP
            bool "Yellow Board (2.4\" capacitive)"
        config TT_BOARD_LILYGO_TDECK
            bool "LilyGo T-Deck"
        config TT_BOARD_M5STACK_CORE2
            bool "M5Stack Core2"
        config TT_BOARD_WAVESHARE_S3_TOUCH
            bool "Waveshare S3 Touch LCD 4.3\""
    endchoice
endmenu
