/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_spi.h>

// Reference: https://www.waveshare.com/wiki/ESP32-S3-Touch-LCD-1.47
/ {
	compatible = "root";
	model = "Waveshare S3 Touch LCD 1.47";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 42 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 41 GPIO_FLAG_NONE>;
	};

	display_spi: spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <&gpio0 39 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 38 GPIO_FLAG_NONE>;
	};

	sdcard_spi: spi1 {
		compatible = "espressif,esp32-spi";
		host = <SPI3_HOST>;
		pin-mosi = <&gpio0 15 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 17 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 16 GPIO_FLAG_NONE>;
	};
};
