/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_sdmmc.h>
#include <tactility/bindings/esp32_spi.h>

/ {
	compatible = "root";
	model = "LilyGO T-HMI";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};
	
	spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <&gpio0 3 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 4 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 1 GPIO_FLAG_NONE>;
	};

	sdmmc0 {
		compatible = "espressif,esp32-sdmmc";
		pin-clk = <&gpio0 12 GPIO_FLAG_NONE>;
		pin-cmd = <&gpio0 11 GPIO_FLAG_NONE>;
		pin-d0 = <&gpio0 13 GPIO_FLAG_NONE>;
		bus-width = <1>;
		pullups;
	};
};
