/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_ble.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>
#include <tactility/bindings/esp32_spi.h>
#include <tactility/bindings/esp32_uart.h>
#include <tactility/bindings/esp32_usbhost.h>
#include <bindings/bmi270.h>
#include <bindings/ina226.h>
#include <bindings/pi4ioe5v6408.h>
#include <bindings/rx8130ce.h>

/ {
	compatible = "root";
	model = "Tab5";

	ble0 {
		compatible = "espressif,esp32-ble";
	};

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <57>;
	};

	i2c_internal: i2c0 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <100000>;
		pin-sda = <&gpio0 31 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 32 GPIO_FLAG_NONE>;

		io_expander0 {
			compatible = "diodes,pi4ioe5v6408";
			reg = <0x43>;
		};

		io_expander1 {
			compatible = "diodes,pi4ioe5v6408";
			reg = <0x44>;
		};

		bmi270 {
			compatible = "bosch,bmi270";
			reg = <0x68>;
		};

		rx8130ce {
			compatible = "epson,rx8130ce";
			reg = <0x32>;
		};

		ina226 {
			compatible = "ti,ina226";
			reg = <0x41>;
			shunt-milliohms = <5>;
		};
	};

	i2c_port_a: i2c1 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <100000>;
		pin-sda = <&gpio0 53 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 54 GPIO_FLAG_NONE>;
	};

	sdcard_spi: spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <&gpio0 44 GPIO_FLAG_NONE>;
		pin-miso = <&gpio0 39 GPIO_FLAG_NONE>;
		pin-sclk = <&gpio0 43 GPIO_FLAG_NONE>;
	};

	// ES8388 and ES7210
	i2s0 {
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <&gpio0 27 GPIO_FLAG_NONE>;
		pin-ws = <&gpio0 29 GPIO_FLAG_NONE>;
		pin-data-out = <&gpio0 26 GPIO_FLAG_NONE>;
		pin-data-in = <&gpio0 28 GPIO_FLAG_NONE>;
		pin-mclk = <&gpio0 30 GPIO_FLAG_NONE>;
	};

	uart_port_a: uart1 {
		compatible = "espressif,esp32-uart";
		status = "disabled";
		port = <UART_NUM_1>;
		pin-tx = <&gpio0 53 GPIO_FLAG_NONE>;
		pin-rx = <&gpio0 54 GPIO_FLAG_NONE>;
	};

	usbhost0 {
		compatible = "espressif,esp32-usbhost";
		peripheral-map = <0>;

		usbhosthid0 {
			compatible = "espressif,esp32-usbhost-hid";
			//status = "disabled";
		};

		usbhostmidi0 {
			compatible = "espressif,esp32-usbhost-midi";
			//status = "disabled";
		};

		usbhostmsc0 {
			compatible = "espressif,esp32-usbhost-msc";
			//status = "disabled";
		};
	};
};
