# Kconfig file for Tactility example app
menu "Tactility App"
    config TT_BOARD_NAME
        string "Board Name"
        default ""
    config TT_BOARD_ID
        string "Board ID"
        default ""
    choice
        prompt "Board"
        default TT_BOARD_CUSTOM
        config TT_BOARD_CUSTOM
            bool "Custom"
        config TT_BOARD_CYD_2432S024C
            bool "CYD 2432S024C"
        config TT_BOARD_CYD_2432S028R
            bool "CYD 2432S028R"
        config TT_BOARD_CYD_2432S028RV3
            bool "CYD 2432S028RV3"
        config TT_BOARD_CYD_E32R28T
            bool "CYD E32R28T"  
        config TT_BOARD_CYD_E32R32P
            bool "CYD E32R32P"    
        config TT_BOARD_CYD_2432S032C
            bool "CYD 2432S032C"
        config TT_BOARD_CYD_8048S043C
            bool "CYD 8048S043C"
        config TT_BOARD_CYD_JC2432W328C
            bool "CYD JC2432W328C"
        config TT_BOARD_CYD_JC8048W550C
            bool "CYD JC8048W550C"
        config TT_BOARD_CYD_4848S040C
            bool "CYD 4848S040C"
        config TT_BOARD_ELECROW_CROWPANEL_ADVANCE_28
            bool "Elecrow CrowPanel Advance 2.8"
        config TT_BOARD_ELECROW_CROWPANEL_ADVANCE_35
            bool "Elecrow CrowPanel Advance 3.5"
        config TT_BOARD_ELECROW_CROWPANEL_ADVANCE_50
            bool "Elecrow CrowPanel Advance 5.0"
        config TT_BOARD_ELECROW_CROWPANEL_BASIC_28
            bool "Elecrow CrowPanel Basic 2.8"
        config TT_BOARD_ELECROW_CROWPANEL_BASIC_35
            bool "Elecrow CrowPanel Basic 3.5"
        config TT_BOARD_ELECROW_CROWPANEL_BASIC_50
            bool "Elecrow CrowPanel Basic 5.0"
        config TT_BOARD_HELTEC_V3
            bool "Heltec v3"
        config TT_BOARD_LILYGO_TDECK
            bool "LilyGo T-Deck"
        config TT_BOARD_LILYGO_TDONGLE_S3
            bool "LilyGo T-Dongle S3"
        config TT_BOARD_LILYGO_TLORA_PAGER
            bool "LilyGo T-Lora Pager"
        config TT_BOARD_LILYGO_TDISPLAY
            bool "LilyGo T-Display"
        config TT_BOARD_M5STACK_CARDPUTER
            bool "M5Stack Cardputer"
        config TT_BOARD_M5STACK_CARDPUTER_ADV
            bool "M5Stack Cardputer Adv"
        config TT_BOARD_M5STACK_CORE2
            bool "M5Stack Core2"
        config TT_BOARD_M5STACK_CORES3
            bool "M5Stack CoreS3"
        config TT_BOARD_M5STACK_STICKC_PLUS
            bool "M5Stack StickC Plus"
        config TT_BOARD_M5STACK_STICKC_PLUS2
            bool "M5Stack StickC Plus2"
        config TT_BOARD_UNPHONE
            bool "unPhone"
        config TT_BOARD_WAVESHARE_S3_TOUCH_43
            bool "Waveshare ESP32 S3 Touch LCD 4.3"
        config TT_BOARD_WAVESHARE_S3_TOUCH_LCD_147
            bool "Waveshare ESP32 S3 Touch LCD 1.47"
        config TT_BOARD_WAVESHARE_S3_TOUCH_LCD_128
            bool "Waveshare ESP32 S3 Touch LCD 1.28"
        config TT_BOARD_WAVESHARE_S3_LCD_13
            bool "Waveshare ESP32 S3 LCD 1.3"
        config TT_BOARD_BTT_PANDA_TOUCH
            bool "BigTreeTech Panda Touch"
        help
            Select a board/hardware configuration.
            Use TT_BOARD_CUSTOM if you will manually configure the board in your project.
    endchoice

    config TT_SPLASH_DURATION
        int "Splash Duration (ms)"
        default 1000
        range 0 3000
        help
            The minimum time to show the splash screen in milliseconds.
            When set to 0, startup will continue to desktop as soon as boot operations are finished.
endmenu
